/* reset-start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    flex-shrink: 0;
}

ul {
    margin-left: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    background: transparent;
    border: 0;
}

/* root */
:root {
    /* colors */
    --black:#303030;
    --grey:#909090;

    /* fonts */
    /* font-family */
    --oswald:'Oswald';
    --quattrocento:'Quattrocento';
}
/* reset-end */

/* desktop-design-start */
body {
    background-image: url(../img/background.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.container-head ,.container-sec {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

/* header */
.container-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
    padding: 0.5rem;
}

.ul-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.a-head {
    color: var(--black);
    font-family: var(--quattrocento);
    font-size: 0.8rem;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
}

/* hr-pisodo-element */
.ul-head ::after {
    content:"";
    width: 1.5rem;
    height: 0.1rem;
    flex-shrink: 0;
    background-color: var(--grey);
    position: absolute;
    top:2.3rem;
    right: 68.6rem;
}

.logo {
    width: 5rem;
    height: 1rem;
    flex-shrink: 0;
    margin-top: 1rem;
}

.ul-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}

.inesta ,.facebook ,.twitter ,.linkden {
    width: 1rem;
    height: 1rem;
    flex-shrink: 0;
}

/* sectoin */
.container-sec {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

/* top-div */
h1 {
    color: var(--black);
    font-family: var(--oswald);
    font-size: 4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 5rem;
    text-align: center;
    text-shadow: 0px 24px 50px rgba(0, 0, 0, 0.10);
}

.top h1::after {
    content: "";
    width: 4rem;
    height: 0.1rem;
    flex-shrink: 0;
    background-color: var(--grey);
    position: absolute;
    top: 8.3rem;
    right: 47.1rem;
    opacity: 0.5;
}

/* bottom-div */
.buttom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.h2-service {
    color: var(--black);
    font-family: var(--oswald);
    font-size: 1.3rem;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
}

/* service */
.h2-serv {
    color: var(--black);
    font-family: var(--oswald);
    font-size: 0.8rem;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
}

.flex-serv svg {
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
    background-color: white;
    padding: 0.3rem;
    box-shadow: 0px 24px 50px 0px rgba(13, 12, 56, 0.10);
}

.flex-serv {
    display: flex;
    gap: 0.5rem;
    justify-content: start;
    align-items: center;
}

.serv {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

p {
    color: var(--grey);
    font-family: var(--quattrocento);
    font-size: 0.7rem;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
}

.row-gap-serv {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

/* man */
.photo {
    width: 50%;
}

.man{
    width: 100%;
}

/* web */
.flex-web {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
}

.top-web {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    justify-content: center;
    align-items: center;
}

.h2-web {
    color: var(--black);
    font-family: var(--oswald);
    font-size: 1.2rem;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
}

.top-p ,.buttom-p {
    color: var(--grey);
    font-family: var(--quattrocento);
    font-size: 0.7rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1rem;
}

.btn {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.7rem;
    background-color: var(--black);
    font-family: var(--quattrocento);
    font-weight: 400;
    font-style: normal;
    font-size: 0.8rem;
    line-height: 1rem;
    margin-right: 11rem;
    margin-top: 1rem;
}

.information {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}

.data {
    display: flex;
    flex-direction: column;
    row-gap: 0.6rem;
}

.h2-data {
    color: var(--black);
    font-family: var(--oswald);
    font-style: normal;
    line-height: normal;
    font-weight: 500;
    font-size: 1rem;
}

h6 {
    color: var(--grey);
    font-family: var(--quattrocento);
    font-size: 0.7rem;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
}
/* desktop-design-end */

/* mobile-design-start */
@media screen and (max-width:720px) {
    .ul-head ,.ul-icons {
        display: none;
    }

    .container-head {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    h1 {
        font-size: 3rem;
    }

    .buttom {
        display: flex;
        flex-direction: column;

    }

    .btn {
        margin-right: 0;
        align-items: stretch;
    }

    .flex-web {
        text-align: center;
    }
}
/* mobile-design-end */